body{
padding: 0;
margin: 0;
}
header, footer{
width: 900px;
margin: 10px auto;
background-color: #eee;
}
.main{
width: 900px;
margin: 0 auto;
background-color: #eaeaea;
}
.main_menu{
float: left;
width: 200px;
}
.content{
width: 700px;
margin-left: 200px;
}
.clear{
clear: both;
}
.row{
display: flex;
width: 100%;
flex-wrap: wrap;
}
.item{
margin: 10px;
font-size: 18px;
}
.row img{
width: 200px;

}