{% extends 'main.html' %}
{% block title %}Заголовок главной страницы{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    <tr>
      <td>Title:</td><td> {{ form.title }} </td>
    </tr>
    <tr>
      <td>Text:</td><td> {{ form.text }} </td>
    </tr>
    <tr>
      <td>categories:</td><td> {{ form.category }}</td>
    </tr>
    <tr>
      <td></td><td> <input type="hidden"  value="{{id}}" name="user"/> </td>
    </tr>
    <tr>
      <td>image:</td><td> <input type="file" name="img"></td>
    </tr>
    <tr>
      <td colspan="2"> <input type="submit" value="Добавить новость"></td>
    </tr>
  </table>
</form>

{% endblock %}